@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo web app. To view the API, please go to @Html.ActionLink("Swagger", "Index", "Swagger").</p>
</div>
